body {
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("https://media.giphy.com/media/26AHE5D3mbfAm1M4M/giphy.gif");
    height: 100vh;
    padding:0;
    margin:0;
}

.container { 
    float: center;
    text-align: center;
    background-color: lavender;
    color: rosybrown;
    
}
